/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #191826;  /* black text */
    --white: #FCFAF9;  /* white text */
    --orangebg: #FA7453;  /* feature background */

    --sans: "Fredoka", sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color:lightblue;
    font-family: var(--sans);    
}

.title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 60px auto 0 auto;
}

.calculator {
    margin: 80px auto 0 auto;
    width: 800px;
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    flex-basis: auto;
}

.date-label {
    padding-bottom: 5px;
}

.output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 2;
    flex-basis: auto;
}
.output-result {
    display: inline-block;
    background-color: var(--white);
    margin-left: .5rem;
    min-width: 10rem;
    min-height: 3rem;
    border-radius: .5rem;
    text-align: center;
    vertical-align: middle;
    padding: .5rem 1rem;
    
}
.travel-date {
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    border-radius: 5px;
}

.dining-date {
    color: #DC143C;
    padding-left: 4px;
}

.dvc7-date {
    color: #DC143C;
    padding-left: 4px;    
}

.dvc11-date {
    color: #DC143C;
    padding-left: 4px;    
}